<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import { useCartStore } from "../stores/cart";
import { useProductStore } from "../stores/product";
const useCart = useCartStore();
const useProduct = useProductStore();
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiPlus,
  mdiCartArrowDown,
  mdiCart,
} from "@mdi/js";
import { useUserStore } from "../stores/Order";
const UserStore = useUserStore();

let sum = ref(0);
let amount = ref(0);
</script>

<template>
  <v-app>
    <v-card
      width="100%"
      height="400px"
      style="
        background-image: url('https://www.tastingtable.com/img/gallery/25-most-popular-snacks-in-america-ranked-worst-to-best/l-intro-1645492743.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      "
    >
    </v-card>
    <v-main>
      <h1
        style="
          font-size: 200px;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        "
      >
        Snacks
      </h1>
      <v-container style="margin-top: 1cm; padding: 30px"
        ><v-row>
          <v-col
            v-for="(item, index) in useProduct.snacks"
            :key="index"
            cols="12"
            md="4"
          >
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                :src="item.image"
              ></v-img>
              <v-card-subtitle class="pt-4">{{
                item.subtitle
              }}</v-card-subtitle>
              <v-card-text>
                <div>{{ item.name }}</div>
                <div></div>
                <br />
                <div style="font-size: 17px">{{ "฿ " + item.price }}</div>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="useCart.addToCart(item)"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <!--         <v-row>
          <v-col>
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                src="https://cdn.shopify.com/s/files/1/0553/8765/2286/articles/hikynvl8pjkjqhvpnok6_1000x1000.jpg?v=1619198610"
              >
              </v-img>
              <v-card-subtitle class="pt-4">Snacks</v-card-subtitle>
              <v-card-text>
                <div>French Fries</div>
                <div></div>
                <br />
                <div style="font-size: 17px">Price: ฿50.00</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="UserStore.FF"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                src="https://belchicken.com/wp-content/uploads/2022/01/nuggets-1.png"
              >
              </v-img>
              <v-card-subtitle class="pt-4">Snacks</v-card-subtitle>
              <v-card-text>
                <div>Nuggets</div>
                <div></div>
                <br />
                <div style="font-size: 17px">Price: ฿80.00</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="UserStore.NG"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                src="https://www.foodnetwork.com/content/dam/images/food/fullset/2008/12/23/0/FNmag_Movie-Theater-Style_s4x3.jpg"
              >
              </v-img>
              <v-card-subtitle class="pt-4"> Snacks</v-card-subtitle>
              <v-card-text>
                <div>Popcorn</div>
                <div></div>
                <br />
                <div style="font-size: 17px">Price: ฿40.00</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="UserStore.POPC"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                src="https://www.foodservicedirect.com/media/catalog/product/0/0/00028400443593_1_wcl3llapxxx2wf7p.jpg?width=1200&height=1200&quality=85&fit=bounds"
              >
              </v-img>
              <v-card-subtitle class="pt-4"> Snacks </v-card-subtitle>
              <v-card-text>
                <div>Chips</div>
                <div></div>
                <br />
                <div style="font-size: 17px">Price: ฿25.00</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="UserStore.CHIP"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                src="https://www.thedailymeal.com/img/gallery/the-ultimate-ranking-of-the-best-fried-chicken-chains/intro-1659368501.jpg"
              >
              </v-img>
              <v-card-subtitle class="pt-4"> Snacks </v-card-subtitle>
              <v-card-text>
                <div>Fried Chicken</div>
                <div></div>
                <br />
                <div style="font-size: 17px">Price: ฿150.00</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="UserStore.FC"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
          <v-col>
            <v-card class="mx-auto" max-width="400" height="480px">
              <v-img
                class="align-end text-white"
                height="300"
                src="https://www.quiktrip.com/app/uploads/2021/10/MicrosoftTeams-image-5.jpg"
              >
              </v-img>
              <v-card-subtitle class="pt-4"> Snacks </v-card-subtitle>
              <v-card-text>
                <div>Hot Dog</div>
                <div></div>
                <br />
                <div style="font-size: 17px">Price: ฿30.00 / Piece</div>
              </v-card-text>

              <v-card-actions>
                <v-btn
                  color="orange"
                  :prepend-icon="mdiCartArrowDown"
                  @click="UserStore.HD"
                >
                  ADD
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row> -->
      </v-container>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>
